@{
    ViewData["Title"] = "RuTour - о нас";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <div class="descript_wrap white-bg" style="border-radius: 10px; height: 500px">
                    <h4 style="font-size: 30px; margin-bottom: 20px;">RuTour</h4>
                    <hr />
                    <p>Сайт для продажи туристических путевок</p>
                    <p>Выполнил курсан 432 группы Коротовский Дмитрий</p>
                </div>
            </div>
        </div>
    </div>
</div>