@model IEnumerable<RuTour.Models.City>
@{
    //ViewData["Title"] = "Список городов";
    Layout = null;
}

<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Города</title>
</head>
<body>
    <h3>Города</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
        @foreach (var city in Model)
            {
            <tr>
                <td>@city.Id</td>
                <td>@city.Name</td>
            </tr>
        }
    </table>
</body>
</html>
