* { box-sizing: border-box; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd,
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ul { list-style-type: none; }

.nav-content, .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    background-color: #FFFFFF;
}

.header {
    background-color: #CCC;
    
}

.nav {
    padding: 5px 10px;
    height: 40px;
    background-color: #333;
}

.nav ul {
    display: inline;
    max-width: 500px;
    color: white;
}

.nav ul li {
    display: inline;
    line-height: 30px;
    padding: 12px;
}
.nav ul li:hover {
    background-color: #111;
    cursor: pointer;
}

.user-name {
    line-height: 30px;
    float: right;
    color: white;
}

.header-space {
    padding: 70px;
    height: 200px;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center -200px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search {
    margin: auto;
    border-radius: 10px;
    background-color: #555;
    width: 800px;
    height: 60px;
    overflow: hidden;
}

.search h6{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 -1px;
    padding: 21px 30px;

    background-color: #CCC;
}

.search button {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 21px 31px;
}

.wrapper {
    padding: 20px 0;
}

.sidebar {
    border-radius: 6px;
    float: left;
    width: 250px;
    height: 800px;

    background-color: #555;
}

.main {
    border-radius: 6px;
    padding: 30px;
    margin-left: 270px;
    background-color: #777;
}

.tour-card {
    position: relative;
    border-radius: 6px;
    height: 200px;
    margin: 25px auto;
    background-color: #666;
    overflow: hidden;
}
.tour-card:first-child {
    margin-top: 5px;
}

.tour-image {
    display: inline-block;
    width: 250px;
    height: 200px;
}

.tour-info {
    display: inline-block;
    position: absolute;
    left: 260px;
    right: 0;
    top: 10px;
    bottom: 0;
    color: white;
}

.cost-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 25px 30px;
    background-color: lightgreen;
}

.footer {
    height: 300px;
    background-color: #222;
}

.footer address {
    padding: 50px;
    color: white;
}
