@model RuTour.ViewModels.LoginModel
@{
    ViewData["Title"] = "RuTour";
}

<div class="job_details_area" style="margin-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="container-fluid col-lg-5">
                <div class="descript_wrap white-bg" style="box-shadow: 3px 3px 6px 3px #777; border-radius: 15px; height: 500px">
                    <h2 style="text-align: center; margin-bottom: 60px">Вход</h2>

                    <form asp-controller="Account" asp-action="Login" asp-anti-forgery="true">
                        <div style="color: red" class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="form-group">
                                <input type="text" asp-for="Email" placeholder="Email" 
                                style="border-radius: 5px; border: 1px solid #888; height: 42px; padding: 5px; padding: 0 10px; width: 100%"/>
                                <span asp-validation-for="Email" />
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" placeholder="Пароль" 
                                style="padding: 5px; border-radius: 5px; border: 1px solid #888; height: 42px; padding: 0 10px; width: 100%"/>
                                <span asp-validation-for="Password" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Войти" class="boxed-btn3 w-100" 
                                style="margin-top: 30px; height: 50px; line-height: 23px; font-size: 16px;"/>
                            </div>
                        </div>
                    </form>

                    <p style="margin-top: 110px; text-align: center">
                        Для регистрации перейдите по 
                        <a class="reg_link" asp-action="Register" asp-controller="Account">этой</a> 
                        ссылке
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
