<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700,800,900&display=swap">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
    <header class="header-section" style="height: 100px;">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo" style="line-height: 40px;">
                    <a href="~/Home/Index" style="font-size: 50px; color: white;">RuTour</a>
                </div>
                <div class="nav-right" style="margin-top: -2px; width: 240px">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/Logout" style="margin-top: 10px; color: white; float: right">Выход</a>
                    }
                    else
                    {
                       <a href="~/Account/Login" style="margin: 0 10px; color: white;">Вход</a>
                       <a href="~/Account/Register" class="boxed-btn3" style="margin: 0 10px; height: 50px; line-height: 25px;">Регистрация</a>
                    }
                </div>
                <nav class="main-menu" style="margin-top: -10px; margin-right: 400px">
                    <ul>
                        @*class="active"*@
                        <li><a href="~/Home/Index" style="line-height: 60px; font-size: 20px;">Туры</a></li>
                        <li><a href="~/Account/User" style="line-height: 60px; font-size: 20px;">Личный кабинет</a></li>
                        <li><a href="~/Home/About" style="line-height: 60px; font-size: 20px;">О нас</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                        </div>
                        <p>Сайт по продаже туристических путевок</p>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="footer-item">
                        <h5 style="margin-bottom: 10px;">Контакты</h5>
                        <a style="color: white;" href="https://github.com/durasel74">https://github.com/durasel74</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
        </div>
    </footer>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100000,
                values: [1, 100000],
                step: 100,
                slide: function(event, ui) {
                    $("#amount").val(ui.values[0] + " руб" + " - " + ui.values[1] + " руб");
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) + " руб" +
                " - " + $("#slider-range").slider("values", 1) + " руб");
        });
    </script>

    <script>
        new ItcAccordion(document.querySelector('.accordion'), {
            alwaysOpen: false
        });
    </script>

    <script>
        var numCount = document.getElementById('num_count');
        var plusBtn = document.getElementById('button_plus');
        var minusBtn = document.getElementById('button_minus');
        var ticket_left = parseInt(document.getElementById('ticket_left').value);
        var ticket_cost = parseFloat(document.getElementById('ticket_cost').textContent);
        var total_cost = 0;
        plusBtn.onclick = function() {
          var qty = parseInt(numCount.value);
          qty = qty + 1;
          if (qty > ticket_left) qty = ticket_left;
          numCount.value = qty;
          total_cost = parseFloat(qty) * ticket_cost;
          document.getElementById("total_cost").textContent=total_cost;
        }
        minusBtn.onclick = function() {
          var qty = parseInt(numCount.value);
          qty = qty - 1;
          if (qty < 1) qty = 1;
          numCount.value = qty;
          total_cost = parseFloat(qty) * ticket_cost;
          document.getElementById("total_cost").textContent=total_cost;
        }
    </script>
</body>
</html>
